* {{
    main-bg:            {background}B3;
    main-bg-o:          {background};
    main-fg:            {foreground};
    main-br:            {color4};
    main-ex:            {color3};
    select-bg:          {color4};
    select-fg:          {background};
    separatorcolor:     transparent;
    border-color:       transparent;
}}
